<div id="grid-gallery" class="grid-gallery">
  <section class="grid-wrap">
    <ul class="grid">
      <li class="grid-sizer"></li>
      <% @photos.each do |photo| %>
        <li>
          <figure>
            <img class="lazy" data-original="<%= photo.tumblr_url %>" width="238" height="158" alt="img<%= photo.id %>"/>
          </figure>
        </li>
      <% end %>
    </ul>
  </section>
  <section class="slideshow">
    <ul>
      <% @photos.each do |photo| %>
        <li>
          <figure>
            <a href="<%= photo.source_url %>" target="_blank">
              <!-- TODO Load images faster -->
              <img src="<%= photo.tumblr_url %>" alt="img<%= photo.id %>"/>
            </a>
            <figcaption>
              <p>Photo by <a href="<%= photo.author_url %>" target="_blank"><%= photo.author_name %></a></p>
              <% photo.colors.each do |color| %>
                <div class="tooltip color-block" style="background:rgb(<%= color['color'][0] %>, <%= color['color'][1] %>, <%= color['color'][2] %>);" title="rgb(<%= color['color'][0] %>, <%= color['color'][1] %>, <%= color['color'][2] %>)"></div>
              <% end %>
            </figcaption>
          </figure>
        </li>
      <% end %>
    </ul>
    <nav>
      <span class="icon nav-prev" data-icon="&#59237;" data-aria="hidden"></span>
      <span class="icon nav-next" data-icon="&#59238;" data-aria="hidden"></span>
      <span class="icon nav-close" data-icon="&#10060;" data-aria="hidden"></span>
    </nav>
  </section>
</div>
