<p>The following user's account has been disconnected:</p>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Customer ID: <%= @user.customer_id %></p>

<p>Error: <%= @error %></p>

<p>The error first occured while processing filename: <%= @filename %></p>
