<header>
  <h1 title="Cloud Refresh icon designed by Adam Whitcroft from The Noun Project">Splashbox</h1>
</header>

<section>
  <article>
    <% if @user %>
      <% if @user.waitlist %>
        <h2 class="blue">You're on the waitlist</h2>
        <p>Having a waitlist helps me better manage the load put on the Heroku worker dynos to run the app. Please check back soon!</p>
        </br>
        <p>If you feel you've been on the waitlist for "forever" then <%= link_to "tweet me", "http://twitter.com/hopkinschris", target: "_blank" %>.</p>
      <% else %>
        <h2 class="blue">Welcome back</h2>
        <p>Hope you're enjoying Splashbox! It may take up to 24 hours before seeing photos come through to your Dropbox. New photos are added every 10 days</p>
      <% end %>
    <% else %>
      <h2 id="tagline"><span class="name">Splashbox,</span> hi-resolution photos delivered to your Dropbox</h2>
      <%= form_tag(auth_url) do %>
        <%= submit_tag "Authorize with Dropbox" %>
      <% end %>
    <% end %>
    <span id="external">
      <a href="http://blog.hopkins.io/2013/09/19/splashbox/" id="blog-post" target="_blank">Read more</a>
      •
      <a href=<%= waitlist_url %> id="waitlist-link">Waitlist</a>
      •
      <a href="https://github.com/hopkinschris/splashbox/releases/tag/1.1.0" id="repo" target="_blank">Version 1.1.0</a>
    </span>
    <div class="social">
      <iframe id="github" src="http://ghbtns.com/github-btn.html?user=hopkinschris&repo=splashbox&type=watch&count=false"
        allowtransparency="true" frameborder="0" scrolling="0" width="112" height="30"></iframe>
      <a href="https://twitter.com/hopkinschris" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false" data-url="http://splashboxapp.com">Follow @hopkinschris</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Splashbox • Hi-resolution photos delivered to your Dropbox" data-count="none" data-via="hopkinschris">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </article>
</section>

<footer>
  <span class="care-of"><span id="photo-count"><%= number_with_delimiter(@count, delimiter: ',') %></span> photos uploaded to Dropbox accounts c/o <a href="http://unsplash.com" target="_blank">unsplash.com</a></span>
</footer>

<a href="https://github.com/hopkinschris/splashbox"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("h2").fitText(1.2, { maxFontSize: '32px' });
    });
  </script>
<% end %>
