<footer>
  <div class="container">
    <div class="row">
      <div class="column full">
        <ul>
          <% if @user.present? %>
            <li><a href="<%= logout_path %>">Log out</a></li>
          <% else %>
            <li><a href="<%= auth_url %>">Get Started</a></li>
          <% end %>
          <li><a href="<%= privacy_path %>" target="_blank">Privacy Policy</a></li>
          <li><%= mail_to 'chris@hopkins.io', 'Email' %></li>
          <li><a href="http://twitter.com/hopkinschris">Twitter</a></li>
        </ul>

        <p class="animated fadeInUp">
          <a href="http://heroku.com"><%= image_tag 'heroku-logo.svg', width: '124', height: '42' %></a>
          <a href="http://stripe.com"><%= image_tag 'stripe-logo.svg', width: '92', height: '45' %></a>
          <a href="http://dropbox.com"><%= image_tag 'dropbox-logo.svg', width: '150', height: '42' %></a>
          <a href="http://embed.ly"><%= image_tag 'embedly-logo.svg', width: '129', height: '42' %></a>
        </p>
      </div>
    </div>
  </div>
</footer>

<%= render 'panel' %>
